[submodule "cloud-application-development/schwarzwald"]
	path = cloud-application-development/schwarzwald
	url = git@github.com:CADSchwarzwald/schwarzwald.git
[submodule "cloud-application-development/schwarzwald-backend"]
	path = cloud-application-development/schwarzwald-backend
	url = git@github.com:CADSchwarzwald/schwarzwald-backend.git
[submodule "cloud-application-development/schwarzwald-locust"]
	path = cloud-application-development/schwarzwald-locust
	url = git@github.com:CADSchwarzwald/schwarzwald-locust.git
[submodule "cloud-application-development/schwarzwald-infrastructure"]
	path = cloud-application-development/schwarzwald-infrastructure
	url = git@github.com:CADSchwarzwald/schwarzwald-infrastructure.git
[submodule "cloud-application-development/schwarzwald-submissions"]
	path = cloud-application-development/schwarzwald-submissions
	url = git@github.com:CADSchwarzwald/schwarzwald-submissions.git
[submodule "cloud-application-development/recommendations"]
	path = cloud-application-development/recommendations
	url = git@github.com:CADSchwarzwald/recommendations.git
[submodule "cloud-application-development/schwarzwald-kubernetes"]
	path = cloud-application-development/schwarzwald-kubernetes
	url = git@github.com:CADSchwarzwald/schwarzwald-kubernetes.git
[submodule "cloud-application-development/schwarzwald-compose"]
	path = cloud-application-development/schwarzwald-compose
	url = git@github.com:CADSchwarzwald/schwarzwald-compose.git
